body {
    background-color: black;
    text-align: center;
}
h1 {
    color: white;
    font-family: Verdana;
    font-weight: Normal;
    font-size: 50px;
    text-align: center;
    }

.download {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    text-decoration: underline;
}

.download:hover {
    cursor: pointer;
}

h2 {
    color: white;
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
}

.interests {
    color: gray;
    font-family: Verdana;
    font-size: 21px;
}

footer {
    text-align: right;
    color: gray;
}